.fd-box-turquoise{
	background-color: #1abc9c;
}
.fd-txt-turquoise{
	color: #1abc9c;
}

.fd-box-green-sea{
	background-color: #16a085;
}
.fd-txt-green-sea{
	color: #16a085;
}

.fd-box-emerald{
	background-color: #2ecc71;
}
.fd-txt-emerald{
	color: #2ecc71;
}

.fd-box-nephritis{
	background-color: #27ae60;
}
.fd-txt-nephritis{
	color: #27ae60;
}

.fd-box-peter-river{
	background-color: #3498db;
}
.fd-txt-peter-river{
	color: #3498db;
}

.fd-box-belize-hole{
	background-color: #2980b9;
}
.fd-txt-belize-hole{
	color: #2980b9;
}

.fd-box-amethyst{
	background-color: #9b59b6;
}
.fd-txt-amethyst{
	color: #9b59b6;
}

.fd-box-wisteria{
	background-color: #8e44ad;
}
.fd-txt-wisteria{
	color: #8e44ad;
}

.fd-box-wet-asphalt{
	background-color: #34495e;
}
.fd-txt-wet-asphalt{
	color: #34495e;
}

.fd-box-midnight-blue{
	background-color: #2c3e50;
}
.fd-txt-midnight-blue{
	color: #2c3e50;
}

.fd-box-sun-flower{
	background-color: #f1c40f;
}
.fd-txt-sun-flower{
	color: #f1c40f;
}

.fd-box-orange{
	background-color: #f39c12;
}
.fd-txt-orange{
	color: #f39c12;
}

.fd-box-carrot{
	background-color: #e67e22;
}
.fd-txt-carrot{
	color: #e67e22;
}

.fd-box-pumpkin{
	background-color: #d35400;
}
.fd-txt-pumpkin{
	color: #d35400;
}

.fd-box-alizarin{
	background-color: #e74c3c;
}
.fd-txt-alizarin{
	color: #e74c3c;
}

.fd-box-pomegranate{
	background-color: #c0392b;
}
.fd-txt-pomegranate{
	color: #c0392b;
}

.fd-box-clouds{
	background-color: #ecf0f1;
}
.fd-txt-clouds{
	color: #ecf0f1;
}

.fd-box-silver{
	background-color: #bdc3c7;
}
.fd-txt-silver{
	color: #bdc3c7;
}

.fd-box-concrete{
	background-color: #95a5a6;
}
.fd-txt-concrete{
	color: #95a5a6;
}

.fd-box-asbestos{
	background-color: #7f8c8d;
}
.fd-txt-asbestos{
	color: #7f8c8d;
}

.fd-box-white{
	background-color: white;
}
.fd-txt-white{
	color: white;
}

.fd-box-black{
	background-color: black;
}
.fd-txt-black{
	color: black;
}